:root {
  --light: #838383;
  --white:#fff;
  --black: #202020;
  --dark: #2b2b2b;
  --gray: #3d3d3d;

  --green: #46a800;
  --blue:#3f51b5;
  --rose:#a80038;
  --red:#ff3324;
  --coffee:#795548;
  --persian_green:#009688;
  --metal:#607d8b;
  --yellow:#8f8c00;
  --viola:#4a3968;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  font-family: Inter,sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  padding: 7px;
}

header {height: 50px;}

main {
  height: calc(100% - 50px);
  overflow: auto;
}

input,button,select,textarea { padding: 10px 15px; outline: none; border: 1px solid var(--gray); 
  background-color: var(--black); color: var(--white); max-width: 100%;}

.btn,button {
  padding: 12px 15px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;  
  cursor: pointer;  
  letter-spacing: 2px;  
  fill: currentColor;
  transition: opacity .25s;
}

.btn:hover ,button:hover {
  background-color: var(--gray);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  width: 100%;
  padding: 10px 15px;
  word-break: break-all;
  transition: all .25s;
}

li:hover {background-color: var(--dark);}

.small,small {color: var(--light); font-size: 12px;}

.green{color: var(--green);}
.red{color: var(--red);}
.rose{color: var(--rose);}
.gray {color: var(--gray);}
.light {color: var(--light);}

.bg-dark {background-color: var(--dark);}

.align-center{align-items: center;}
.justify-between {justify-content: space-between;}
.d-block {display: block;}
.d-flex {display: flex;}
.d-none {display: none;}
.grid-2 {display: grid; grid-template-columns: 1fr 1fr; gap: 20px;}

.gap-1 {gap: 10px;}
.gap-3 {gap: 30px;}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}
.mr-0 {margin-right: 0;}
.ml-0 {margin-left: 0;}
.mt-1 {margin-top: 10px;}
.mr-1 {margin-right: 10px;}
.ml-1 {margin-left: 10px;}
.mb-1 {margin-bottom: 10px;}

.p-1 {padding: 12px 15px;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.border-0 {border: 0;}
.bordered {border: 1px solid var(--gray);}
.border-bottom {border-bottom: 1px solid var(--gray);}

.overflow {overflow: auto;}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}
