:root {
  --light: #e7e7e7;
  --white:#fff;
  --black: #000;
  --dark: #2c2c2c;
  --gray:#7e7e7e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 250px;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 13.5px;
  letter-spacing: 1px;
  padding: 7px;
}

footer {
  text-align: center;
  padding: 10px;
}

.btn,button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--white);
  background-color: var(--dark);  
  outline: none;
  border: 0;
  padding: 10px 20px;
  letter-spacing: 2px;  
  transition: opacity .25s;
}

svg {fill: currentColor;}

.btn:hover ,button:hover {
  opacity: 0.8;
}

.align-center{align-items: center;}
.justify-between {justify-content: space-between;}
.d-block {display: block;}
.d-flex {display: flex;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.uppercase {text-transform: uppercase;}

.mx-auto {margin: auto; text-align: center;}